/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define MOUSE   3
#define NUM     4
#define THIRD   5


/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
// 10 + 29 = W
// 24 + 29 = X

            bindings = <
    &kp GRAVE     &kp Q &kp W &kp E    &kp R          &kp T                                                                       &kp Y            &kp U            &kp I     &kp O    &kp P     &kp LBRC
    &mt LCTL ESC  &kp A &kp S &kp D    &kp F          &kp G                                                                       &kp H            &kp J            &kp K     &kp L    &kp SEMI  &kp SQT
    &kp LALT      &kp Z &kp X &kp C    &kp V          &kp B         &mo NUM                                        &kp LSHFT      &kp N            &kp M            &kp COMMA &kp DOT  &kp FSLH  &kp RBRC
                              &kp LGUI &kp LS(TAB)    &lt RAISE TAB &mt LSHFT SPACE &lt LOWER DEL    &lt LOWER ESC &mt RSHFT BSPC &lt RAISE ENTER  &lt MOUSE RSHFT  &kp NUBS
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        function_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
// |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
// |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
//                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
    &trans &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2              &trans &trans &trans &trans &trans &trans
    &trans &trans &trans     &bt BT_SEL 3 &bt BT_SEL 4 &trans                    &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
