/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define MOUSE   3
#define NUM     4
#define THIRD   5


/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
// 10 + 29 = W
// 24 + 29 = X

            bindings = <
&kp GRAVE     &kp Q &kp W &kp E    &kp R       &kp T                                                                         &kp Y            &kp U            &kp I     &kp O    &kp P     &kp LBRC
&mt LCTL ESC  &kp A &kp S &kp D    &kp F       &kp G                                                                         &kp H            &kp J            &kp K     &kp L    &kp SEMI  &kp SQT
&kp LALT      &kp Z &kp X &kp C    &kp V       &kp B         &mo NUM                                        &kp LGUI(SPACE)  &kp N            &kp M            &kp COMMA &kp DOT  &kp FSLH  &kp RBRC
                          &kp LGUI &kp LS(TAB) &lt RAISE TAB &mt LSHFT SPACE &lt LOWER DEL    &lt LOWER ESC &mt RSHFT BSPC   &lt RAISE ENTER  &lt MOUSE RSHFT  &kp NUBS
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
        lower_layer {
            bindings = <
&kp F12         &kp F1   &kp F2 &kp F3   &kp F4   &kp F5                                          &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
&kp LCTL PLUS   &kp EXLM &kp AT &kp HASH &kp DLLR &kp PERC                                        &kp CIRC &kp AMPR &kp ASTR &kp LPRN &kp RPRN &kp UNDS
&kp LALT EQAUL  &kp 1    &kp 2  &kp 3    &kp 4    &kp 5         &trans                     &trans &kp 6 &kp 7 &kp 8 &kp 9 &kp 0 &kp RALT_T(KC_MINS)
																&trans &trans     &lt THIRD TAB &trans &trans       &trans &trans &lt THIRD_T(KC_ENT) &trans &trans
                      >;
        };
    };
};
