if SHIELD_DIMA3_LEFT

config ZMK_KEYBOARD_NAME
    default "Dima3"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DIMA3_LEFT || SHIELD_DIMA3_RIGHT

config ZMK_SPLIT
    default y

endif
